body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(6, 6, 53) ;
    background-color: #030b2c;
}
.main-container{
    border: 1px solid black;    
    width: 28%;
    min-width: 280px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 15px;
}
h1{
    text-align: center;
    color: #091a61;
}
.inputs{
    display: flex;
    flex-direction: column;
    
}
input{
    width: 90%;
    padding: 15px 10px;
    border-radius: 7px;
    border: 1px solid;
    margin: auto;
    margin-bottom: 30px;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 5px rgb(24, 24, 184);
}
label{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    padding: 0 10px;
    margin-bottom: 5px;
    font-size: 18px;
    /* border: 1px solid red; */
}